.hero {
  background: silver;
  padding: 60px;
  &__title {
    text-align: center;
    margin: 0px auto;
  }
  //&__home {
  //  .hero {
  //    &__title {
  //      text-align: left;
  //      margin: 0px;
  //    }
  //  }
  //}
}